<style>
.hrjwrap,.hrjwrap * {
--font-size: 13px;

--gradient1: #BD7F37FF;
--gradient1-text: rgba(0, 0, 0, .9);
 
--gradient2: #A13941FF;
--gradient2-text: rgba(255, 255, 255, .9);
 
--gradient: linear-gradient(135deg, var(--gradient1) 10%, var(--gradient2) 100%);
 
--padding: 1rem;
--border-round: 1rem;
 
--header-text: black;
--header-bg: url(https://cdn.discordapp.com/attachments/479534307803922454/961214631735595048/sgfsdg_1.png);
 
--info-bg: rgba(0, 0, 0, .07);
--info-border: rgba(0, 0, 0, .11);
--info-text: #38353a;
--info-bg-light: rgba(255,255,255, 0.03);
}

.hrjwrap {
 margin: 10px auto;
 width: 450px;
 background: #242225;
 font-family: "open sans";
 border-radius: var(--border-round);
 overflow: hidden;
 box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
 font-size: var(--font-size);
}

.hrjhead {
 background: var(--gradient), var(--header-bg);
 background-blend-mode: screen;
 min-height: 200px;
 display: flex;
 flex-flow: column;
 justify-content: center;
 align-items: center;
 color: var(--header-text);
 text-align: center;
 text-shadow: 0 0 3px white;
}

.hrjhead img {
 margin-top: var(--padding);
box-shadow: 1px 1px 10px rgb(0,0,0,0.5);
 border-radius: 100%;
 width: 60px;
 height: 60px;
}

.hrjh1 {
 font-size: 27px;
 font-weight: bold;
 padding: var(--padding);
 padding-top: calc(var(--padding) / 2);
}

.hrjh2 {
 opacity: rgba(0, 0, 0, .8);
 padding: 30px;
 padding-top: 0px;
 font-size: 13px;
}

.hrjstatus {
 padding: var(--padding);
 text-align: center;
 font-size: 12px;
 background: var(--info-bg);
 display: flex;
 align-items: center;
 justify-content: flex-end;
 position: relative;
}

.hrjstatus img {
 border-radius: var(--border-round);
 margin-left: var(--padding);
 width: 40px;
 height: 40px;
}

.hrjstatus span {
 text-align: right;
}

.hrjh3 {
 text-transform: uppercase;
 font-size: 11px;
 color: var(--info-text);
}

.hrjh4 {
 font-size: 16px;
 font-weight: bold;
 color: var(--gradient1);
}

.hrjbody {
 padding: var(--padding);
 border: 2px solid var(--info-border);
 border-left-width: 0;
 border-right-width: 0;
 text-align: center;
 line-height: 1.5;
}

.hrjbody ul {
 display: flex;
 flex-flow: column;
 padding: 0;
 margin: 0;
 padding-bottom: var(--padding);
}

.hrjbody ul:last-of-type {
 padding: 0;
}

.hrjbody li {
 padding: var(--padding);
 display: inline-block;
 text-align: left;
 max-width: 80%;
}

.hrjbody li ~ li {
 margin-top: 0.2em;
}

.hrjleft li {
 background: var(--gradient1);
 align-self: flex-start;
 border-radius: 0 var(--border-round) var(--border-round) 0;
 color: var(--gradient1-text);
}

.hrjleft li:first-child {
 border-top-left-radius: var(--border-round);
}

.hrjleft li:last-child {
 border-bottom-left-radius: var(--border-round);
}

.hrjright li {
 background: var(--gradient2);
 align-self: flex-end;
 border-radius: var(--border-round) 0 0 var(--border-round);
 color: var(--gradient2-text);
}

.hrjright li:first-child {
 border-top-right-radius: var(--border-round);
}

.hrjright li:last-child {
 border-bottom-right-radius: var(--border-round);
}

.hrjaction {
 background: var(--info-bg-light);
 padding: calc(var(--padding) * .5) var(--padding);
 display: inline-block;
 color: #454248;
 border: 1px solid var(--info-bg-light);
 font-size: .9em;
 margin-bottom: var(--padding);
}

.hrjcommand {
 display: flex;
 flex-wrap: nowrap;
 color: var(--info-text);
 align-items: center;
 font-size: .9em;
 font-style: italic;
 margin-bottom: var(--padding);
}

.hrjaction:last-child, .hrjcommand:last-child {
 margin-bottom: 0;
}

.hrjcommand:before,.hrjcommand:after{
 content: "";
 height: 1px;
 background: var(--info-bg-light);
 flex-grow: 1;
 margin: 0 var(--padding);
}

.hrjfooter {
 background: var(--info-bg);
 padding: var(--padding);
}

.hrjinput {
 background: var(--info-bg-light);
 padding: var(--padding);
 border-radius: var(--border-round);
 color: var(--info-text);
}
</style>
